<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../admin/partials/header.ejs") %>
</head>
<body onload='clock()'>
    <%- include ("../admin/partials/topbar.ejs") %>
    <%- include ("../admin/partials/sidebar.ejs") %>
    <%- include ("../admin/partials/footer.ejs") %>
</body>
</html>