<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/admin-header.ejs") %>
</head>
<body>
    <%- include ("../partials/admin-topbar.ejs") %>
    <%- include ("../partials/admin-bar.ejs") %>
    <%- include ("../partials/admin-footer.ejs") %>
</body>
</html>