<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../admin/partials/header.ejs") %>
</head>
<body onload='clock()'>
    <%- include ("../admin/partials/topbar.ejs") %>
    <%- include ("../admin/partials/sidebar.ejs") %>
    <section class="page-wrapper">
        <div style="display: flex; align-items: center; justify-content: center; height: 90vh; width: 100%; opacity: 0.5;">
            <h4>Admin Panel</h4>
        </div>
    </secrion>
    <%- include ("../admin/partials/footer.ejs") %>
</body>
</html>