<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/header.ejs") %>
</head>
<body onload='clock()'>
    <%- include ("../partials/topbar.ejs") %>
    <section class="formsection">
        <div class="container">
            <header>
                <h2 id="formtitle">Signin</h2>
            </header>
            <div class="row justify-content-center">
                <div class="col-md-3">
                    <div class="card signin-area">
                        <div class="d-flex justify-content-around login-alt px-1">
                            <a class="text-danger" href=""><i class="bi bi-google"></i></a>
                            <a class="text-dark" href=""><i class="bi bi-github"></i></a>
                            <a class="text-primary" href=""><i class="bi bi-facebook"></i></a>
                        </div>
                        <div class="card-body">
                            <form action="/signin" method="POST" class="signin-form">
                                <div class="mb-4">
                                    <label class="form-label">Username</label>
                                    <input type="text" class="form-control" name="username">
                                  </div>
                                <div class="mb-4">
                                    <label class="form-label">Password</label>
                                  <input type="password" class="form-control" name="password">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-secondary btn-submit">Signin</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include ("../admin/partials/footer.ejs") %>
</body>
</html>