<!--admin bar-->
<div class="admin-bar">
    <ul class="admin-bar-list">
        <li class="admin-bar-item">
            <a href="/"><i class="bi bi-arrow-left-circle"></i></a>
        </li>
        <li class="admin-bar-item">
            <a href="/admin"><i class="bi bi-gear"></i></a>
        </li>
        <li class="admin-bar-item">
            <a href="/admin/all"><i class="bi bi-files"></i></a>
        </li>
        <li class="admin-bar-item">
            <a href="/addnewblog"><i class="bi bi-pencil-square"></i></a>
        </li>
        <li class="admin-bar-item">
            <a href="#"><i class="bi bi-music-note-list"></i></a>
        </li>
        <li class="admin-bar-item">
            <a href="#"><i class="bi bi-file-earmark-person"></i></a>
        </li>
    </ul>
</div><!--admin bar-->