<!--footer-->
<footer class="section-footer">
    <div class="container text-center">
      <span>Mix :</span>
      <code>Bootstrap {v5, icons} <span>|</span> JavaScript {jquery, bootsrapjs} <span>|</span> NodeJs {npm,express,express-session,ejs,body-parser,passport,passport-local} <span>|</span> MongoDB {mongoose,passport-local-mongoose"}</code>
      <span>.</span>
    </div>
  </footer><!--footer-->

  <!--jquery 3.6.0-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!--bootstrap 4.0.0 scripts-->
  <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
  <!--main scripts-->
  <script src="/scripts/main.js"></script>