<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>kaplanark</title>
<!--bootstrap 5.1.0-->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" />
<!--main css-->
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" id="css"/>
<!--navigation bar scripts-->
<script>
    function clock() {
        var topclock, time,h,m;
        time = new Date(); h = time.getHours(); m = time.getMinutes();topclock = h + " : " + (m < 10 ? "0" : "") + m;
        document.getElementById("clock").innerHTML = topclock;setTimeout("clock()", 1000);
        if (h >= 20 && h <= 24) {document.getElementById("status").innerHTML ="<i class='bi bi-moon-fill'></i>";
        } else if (h >= 00 && h <= 7) {document.getElementById("status").innerHTML ="<i class='bi bi-moon-fill'></i>";
        } else {document.getElementById("status").innerHTML = "<i class='bi bi-sun-fill'></i>";}
    }
</script>