<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>template</title>
<!--favicon-->
<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
<!--bootstrap 5.1.0-->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" />
<!--main stylesheet-->
<link rel="stylesheet" href="./stylesheet/main.css">
<link rel="stylesheet" href="./stylesheet/player.css">