<!--top bar-->
<div class="top-bar" id=topbar>
    <div class="container">
        <div class="top-bar-item text-center">
            <a id="status" class="me-2">...</a>
            <a id="clock" class="">...</a>
        </div>
        <div class="top-bar-item text-end" style="width:128px;">
            <% if(!currentUser){ %>
                <a class="text-success" href="/signin"><i class="bi bi-person-fill"></i>Login</a>
            <% } else { %>
            <a class="text-danger me-2" href="/signout"><i class="bi bi-person-dash-fill"></i></a>
            <a href="/admin"><%= currentUser.username %></a>
            <% } %>
        </div>
    </div>
</div><!--top bar-->

<!--navigation bar-->
<nav class="navbar navbar-expand-custom" id="mainnav">
    <div class="container">
      <a class="navbar-brand" href="#" id="brand"><i class="bi bi-chevron-down"></i></a>
        <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarcontent"
            aria-controls="navbarcontent" aria-expanded="false">
            <i class="bi bi-list"></i>
        </a> 
        <div class="collapse navbar-collapse justify-content-center" id="navbarcontent">
            <ul class="navbar-nav">
                <div class="hori-selector">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="#blogpost">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/">Welcome</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#aboutme">About me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav><!--navigation bar-->