<!--projects section-->
<section id="projects" style="height: 992px;">
    <div class="container">
        <header>
            <h2>Projects</h2>
        </header>
        <div class="row">
            <div class="col-lg-3 pro-col">
                <div class="project-card">
                    <div class="bar">
                        <ul class="bar-list">
                            <li class="bar-link"><a href=""><i class="bi bi-github"></i></a></li>
                            <li class="bar-link"><a href=""><i class="bi bi-globe"></i></a></li>
                        </ul>
                    </div>
                    <div class="project-card-main">
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 pro-col">
                <div class="project-card">
                    <div class="bar">
                        <ul class="bar-list">
                            <li class="bar-link"><a href=""><i class="bi bi-github"></i></a></li>
                            <li class="bar-link"><a href=""><i class="bi bi-globe"></i></a></li>
                        </ul>
                    </div>
                    <div class="project-card-main">
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 pro-col">
                <div class="project-card">
                    <div class="bar">
                        <ul class="bar-list">
                            <li class="bar-link"><a href=""><i class="bi bi-github"></i></a></li>
                            <li class="bar-link"><a href=""><i class="bi bi-globe"></i></a></li>
                        </ul>
                    </div>
                    <div class="project-card-main">
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 pro-col">
                <div class="project-card">
                    <div class="bar">
                        <ul class="bar-list">
                            <li class="bar-link"><a href=""><i class="bi bi-github"></i></a></li>
                            <li class="bar-link"><a href=""><i class="bi bi-globe"></i></a></li>
                        </ul>
                    </div>
                    <div class="project-card-main">
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--projects section-->