<!--projects-->
<section id="projects">
    <div class="container">
      <header>
        <div id="projecttitle">Projects</div>
      </header>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 pro-col">
          <div class="project-card">
            <div class="bar">
              <ul class="bar-list">
                <li class="bar-link"><a href=""><i class="bi bi-github"></i></a></li>
                <li class="bar-link"><a href=""><i class="bi bi-globe"></i></a></li>
              </ul>
            </div>
            <div class="project-card-body">
              <div class="card-header">
                <h5>Full Stack Blog</h5>
              </div>
              <div class="card-body">
                <code>
                  NodeJs -ExpressJs - MongoDB full stack user authenticate blog page. 
                </code>
              </div>
              <div class="card-footer">
                <img src="https://img.shields.io/badge/-npm-red">
                <img src="https://img.shields.io/badge/-nodejs-green">
                <img src="https://img.shields.io/badge/-back--edn-red">
                <img src="https://img.shields.io/badge/-front--edn-blue">
                <img src="https://img.shields.io/badge/-mongodb-yellowgreen">
                <img src="https://img.shields.io/badge/-express-yellow">
                <img src="https://img.shields.io/badge/-ejs-yellow">
                <img src="https://img.shields.io/badge/-bootstrap-purple">
                <img src="https://img.shields.io/badge/-jquery-orange">
                <img src="https://img.shields.io/badge/-css-royalblue">
                <img src="https://img.shields.io/badge/-html-orange">
                <img src="https://img.shields.io/badge/-bodyparser-grey">
                <img src="https://img.shields.io/badge/-js-yellow">
                <img src="https://img.shields.io/badge/-mongoose-brown"> 
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pro-col">
          <div class="project-card">
            <div class="bar">
              <ul class="bar-list">
                <li class="bar-link"><a href=""><i class="bi bi-github"></i></a></li>
                <li class="bar-link"><a href=""><i class="bi bi-globe"></i></a></li>
              </ul>
            </div>
            <div class="project-card-body">
              <div class="card-header">
                <h5>Socket.io Chat App</h5>
              </div>
              <div class="card-body">
                <code>Simultaneous online chat application with Socket io</code>
              </div>
              <div class="card-footer">
                <img src="https://img.shields.io/badge/-npm-red">
                <img src="https://img.shields.io/badge/-nodejs-green">
                <img src="https://img.shields.io/badge/-socket.io-grey">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pro-col">
          <div class="project-card">
            <div class="bar">
              <ul class="bar-list">
                <li class="bar-link"><a href=""><i class="bi bi-github"></i></a></li>
                <li class="bar-link"><a href=""><i class="bi bi-globe"></i></a></li>
              </ul>
            </div>
            <div class="project-card-body">
              <div class="card-header">
              </div>
              <div class="card-body">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pro-col">
          <div class="project-card">
            <div class="bar">
              <ul class="bar-list">
                <li class="bar-link"><a href=""><i class="bi bi-github"></i></a></li>
                <li class="bar-link"><a href=""><i class="bi bi-globe"></i></a></li>
              </ul>
            </div>
            <div class="project-card-body">
              <div class="card-header">
              </div>
              <div class="card-body">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--projects-->