<!--top bar-->
<div class="top-bar" id=topbar>
    <div class="container">
        <div class="top-bar-item text-center">
            <a id="day" class="me-2"></a>
            <a id="clock" class=""></a>
        </div> 
    </div>
</div><!--top bar-->