@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-color: #444;
  color: white;
  position: relative;
  top: 15rem;
}
.mybtn{
  display: inline-block;
  padding: 8px;
  margin: 8px;
  border: 1px solid wheat;
  border-radius: 12px;
  color: wheat;
}.mybtn:hover{
  color: wheat;
  box-shadow:  0 0 4px 0 #333 ,0 0 0 4px #333;
  transition: 0.3s;
  
}
.btn-danger {
  background: linear-gradient(to left, #f13c4e 50%, #dc3545 50%) !important;
  margin: 6px;
}
.btn-primary {
  background: linear-gradient(to left, #247cff 50%, #0d6efd 50%) !important;
  margin: 6px;
}
a{
  text-decoration: none;
}
h1,h2,h3,h5,h6{
  color: #eee !important;
}h4{
  color: wheat;
}
header {
  margin-top: 2rem;
  padding-top: 8rem;
  padding-bottom: 5rem;
  text-align: center;
  color: rgb(167, 167, 167);
}
.tool-buttons #viewall{
  font-size: 42px;
  color: #999;
}.tool-buttons #hideall{
  font-size: 42px;
  color: #888;
}
section {
  padding-bottom: 2rem;
}
.bi-list {
  font-size: 32px;
  color: #eee;
}
.text-light {
  color: rgb(231, 231, 231) !important;
}
.col-lg-4 {
  margin-bottom: 1rem;
}
.card {
  font-size: 14px;
  background-color: transparent;
  border-radius: 12px;
  height: 100%;
}.card-header,.card-footer{
    background: transparent;
    border: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}.card-header,.card-footer{
  text-align: center;
  
}.card-header img{
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
}
.top-bar {
  background-color: #333;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 32px;
  font-size: 15px;
}
.top-bar .container{
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-bar .top-bar-item {
  width: 100%;
}
.top-bar a{
  color: #eee;
}
.navbar-brand {
  height: 48px;
  color: #eee;
  
}
#mainnav{
  background-color: #333;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  padding: 0px;
  top: 33px;
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: top 0.3s;
}

#navbarcontent {
  overflow: hidden;
  position: relative;
}

#navbarcontent ul {
  padding: 0px;
  margin: 0px;
}

#navbarcontent ul li a i {
  margin-right: 10px;
}

#navbarcontent li {
  list-style-type: none;
  float: left;
}

#navbarcontent ul li a {
  color: rgb(231, 231, 231);
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}

#navbarcontent > ul > li.active > a {
  color: #fff;
  background-color: transparent;
  transition: all 0.7s;
}

#navbarcontent a:not(:only-child):after {
  content: "\f105";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}

#navbarcontent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}

.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #444;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #444;
  bottom: 10px;
}

.hori-selector .right {
  right: -25px;
}

.hori-selector .left {
  left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #333;
}

.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}

.hori-selector .left:before {
  bottom: 0;
  left: -25px;
}
#welcome{
  width: 100%;
  margin-bottom: 10rem;
}
.social-bar{
  margin-bottom: 1rem;
}.social-bar a{
  color: #ccc;
  font-size: 22px;
}
#profile {
  height: 192px;
  width: 192px;
  border-radius: 50%;
}
.section-footer{
  background: #333;
  padding: 12px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}.section-footer a ,span{
  font-size: 14px;
  color: #ddd;
}

@media (min-width: 992px) {
  .navbar-expand-custom {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .navbar-expand-custom .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .navbar-expand-custom .navbar-toggler {
    display: none;
  }

  .navbar-expand-custom .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  
}

@media (max-width: 991px) {
  #navbarcontent ul li a {
    padding: 12px 30px;
  }

  .hori-selector {
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .hori-selector .left,
  .hori-selector .right {
    right: 10px;
  }

  .hori-selector .left {
    top: -25px;
    left: auto;
  }

  .hori-selector .right {
    bottom: -25px;
  }

  .hori-selector .left:before {
    left: -25px;
    top: -25px;
  }

  .hori-selector .right:before {
    bottom: -25px;
    left: -25px;
  }
  #welcome{
    margin-bottom: 4rem;
  }
}
@media (min-width:1900px){
  body{
    top: 25rem;
  }
  #welcome{
    margin-bottom: 15rem;
  }
  
}
