<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/admin-header.ejs") %>
    <!--jquery 3.6.0-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#blogpostsubmit').click(function(){
                var title = $('#blogtitle').val();
                var subtitle = $('#blogsubtitle').val();
                var image = $('#blogimage').val();
                var blog = CKEDITOR.instances.blogtextarea.getData();
                var data={
                    title:title,
                    subtitle:subtitle,
                    image:image,
                    blog:blog 
                }
                $.post('addnewblog',{data:data})
                .then(function(added){
                    console.log(added);
                });
            });
        });
    </script>
</head>
<body onload='clock()'>
    <%- include ("../partials/admin-topbar.ejs") %>
    <%- include ("../partials/admin-bar.ejs") %>

    <!--add new blog-->
    <div class="container">
        <form action="" class="was-validated">
            <div class="form-group">
                <label for="blogtitle">Blog Title</label>
                <input type="text" class="form-control is-invalid" id="blogtitle" placeholder="*" required>
                <div class="invalid-feedback">Please write something in the text field.</div>
            </div>
            <div class="form-group mt-3">
                <label for="blogsubtitle">Blog Subtitle</label>
                <input type="text" class="form-control is-invalid" id="blogsubtitle" placeholder="*" required>
                <div class="invalid-feedback">Please write something in the text field.</div>
            </div>
            <div class="form-group mt-3 mb-4">
                <label for="blogimage">Blog İmage</label>
                <input type="text" class="form-control is-invalid" id="blogimage" placeholder="*" required>
                <div class="invalid-feedback">Please write something in the text field.</div>
            </div>
            <textarea class="form-control" name="editor" id="blogtextarea"></textarea>
            <div class="mt-3 text-center">
                <button id="blogpostsubmit" type="submit" class="btn btn-success rounded-pill">Add Post</button>
            </div>
        </form>
    </div>
    <!--add new blog-->
    <%- include ("../partials/admin-footer.ejs") %>
    <script>
        CKEDITOR.replace('editor');
    </script>
</body>
</html>