<div class="alert alert-success alert-dismissible fade" role="alert">
    <strong><i class="bi bi-check-circle"></i></strong> İşlem başarılı
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-danger alert-dismissible fade" role="alert">
    <strong><i class="bi bi-exclamation-circle"></i></strong> İşlem başarısız
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="alert alert-info alert-dismissible fade" role="alert">
    <strong><i class="bi bi-info-circle"></i></strong> İşlem gerçekleşmedi
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>