<div class="modal fade" id="confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmationlabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationlabel">Modal 2</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete</p>
            </div>
            <div class="modal-footer">
                <a href="/delete/" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Delete</a>
                <a href="/admin/all" type="button" class="btn btn-primary">Cencel</a>
            </div>
        </div>
    </div>
</div>