<!--sidebar-->
<nav class="side-menu" danger>
    <ul>
        <li class="logo">
            <a href="#"><img class="logo-top" src="../images/logo.png" alt=""></a> 
                <a class="menu-toggle" src="" alt=""><i class="bi bi-chevron-right"></i></a>
            </li>
        <li class="b-search">
            <a class="item list" href="#">
                <form><input type="text" placeholder="Search"></form>
            </a>
        </li>
        <li>
            <a class="item list link" href="/">
                <i class="bi bi-house"></i>
                <span class="text">Homepage</span>
            </a>
        </li>
        <li>
            <a class="item list link" href="/admin">
                <i class="bi bi-speedometer2"></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li>
            <a class="item list link" href="#">
                <i class="bi bi-journal"></i>
                <span class="text">Notebook</span>
            </a>
        </li>
        <li>
            <a class="item list link" href="#">
                <i class="bi bi-sticky"></i>
                <span class="text">Sticky Note</span>
            </a>
        </li>
        <hr>
        <li>
            <a class="item list link" href="/addnewblog">
                <i class="bi bi-pencil-square"></i>
                <span class="text">New Blog</span>
            </a>
        </li>
        <li>
            <a class="item list link" href="/admin/all">
                <i class="bi bi-files"></i>
                <span class="text">All Blog</span>
            </a>
        </li>
        <li>
            <a class="item list link" href="#">
                <i class="bi bi-bookmark"></i>
                <span class="text">Bookmarks</span>
            </a>
        </li>
        <hr>
        <li>
            <a class="item list link" href="#">
                <i class="bi bi-bell"></i>
                <span class="text">Notification</span>
            </a>
        </li>
        <li>
            <a class="item list link" href="#">
                <i class="bi bi-people"></i> 
                <span class="text">Users</span>
            </a>       
        </li>
        <hr>
        <li>
            <a class="item list link" href="#">
                <i class="bi bi-gear"></i>
                <span class="text">Settings</span>
            </a>
        </li>
    </ul>
</nav><!--sidebar-->