@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway&display=swap");
@import url("/styles/bootstrap-icons.css");
@import url("/styles/alerts.css");
@import url("/styles/sidemenu.css");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f3f3;
  width: 100%;
  color: #323232;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding-top: 32px;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
input {
  border-color: #e4e4e4 !important;
}
.btn-close:focus, .btn:focus{
  outline: none !important;
  box-shadow: none !important;
}
hr{
  margin: 5px;
}
.btn-group .btn{
  border-radius: 12px;
}
[disabled]{
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}
[bury]{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*top bar*/
.top-bar {
  position: fixed;
  background-color: #ffff;
  top: 0;
  z-index: 3;
  width: 100%;
  font-size: 15px;
  box-shadow: -1px -3px 8px 0 rgb(0 0 0 / 20%);
  -webkit-box-shadow:-1px -3px 8px 0 rgb(0 0 0 / 20%);

  
}
.top-bar .container-fluid {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-bar .top-bar-item {
  width: 100%;
}
.top-bar-item a {
  font-weight: 600;
  color: #444;
}
.dropdown-menu {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
}
.dropdown-toggle {
  color: #333;
}
.dropdown-toggle:hover {
  color: #999;
}
.dropdown-toggle i {
  font-size: 15px;
  font-weight: 600;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
}

a {
  color: #323232;
  text-decoration: none;
}
/*blog section*/
.search {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  padding: 8px 16px 8px 16px;
  border: 2px solid white;
  border-radius: 24px;
}
.search-area{
  padding-bottom: 2rem;
  margin: 0 10px 0 10px;
}
.serach-bar {
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  font-size: 16px;
  width: 100%;
}
.serach-bar:focus {
  outline: none !important;
}
.blog-post {
  margin-bottom: 1rem;
}
.blog-post a {
  color: #333;
}
.post-card {
  font-size: 14px;
  background-color: #f8f8f8;
  border: 0;
  border-radius: 12px;
  height: 100%;
}
.post-card .card-header {
  background: transparent;
  border: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
}
.post-card .card-footer {
  background: transparent;
  border: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
}
.post-card .card-header img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
}
.blog-post .tag {
  display: flex;
  align-items: center;
  border-radius: 0;
  padding-top: 10px;
  border-top: 1px solid rgb(226, 226, 226);
  text-align: center;
}
.blog-post .dot,
.b-dot,
.f-dot {
  background: white;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-profile{
  height: 64px;
  text-align: center;
  border: 1px dashed gray;
}